# Run "make test-unit" for the % of code exercised during tests
coverage==4.4.1

# Run "make test-style" to check python syntax and style
flake8==3.4.1

# code coverage report at https://codecov.io/github/deis/controller
codecov==2.0.9

# mock out python-requests, mostly k8s
# requests-mock==1.3.0
git+https://github.com/deisthree/requests-mock.git@class_adapter#egg=request_mock

# tail a log and pipe into tbgrep to find all tracebacks
tbgrep==0.3.0
