# Run "make coverage" or "make test-unit" for the % of code exercised during tests
coverage==4.0.3

# Run "make flake8" to check python syntax and style
flake8==2.5.4

# code coverage report at https://codecov.io/github/deis/workflow
codecov==1.6.3

# mock out python-requests, mostly k8s
# requests-mock==0.7.0
-e git+https://github.com/helgi/requests-mock.git@class_adapter#egg=request_mock

# tblib is needed to pickle tracebacks for `make test-unit-quick`
tblib==1.3.0
