# Deis controller requirements
backoff==1.2.1
Django==1.9.8
django-cors-middleware==1.2.0
django-guardian==1.4.4
djangorestframework==3.4.3
docker-py==1.9.0
gunicorn==19.6.0
jmespath==0.9.0
jsonfield==1.0.3
morph==0.1.2
ndg-httpsclient==0.4.2
psycopg2==2.6.2
pyOpenSSL==16.0.0
pytz==2016.6.1
ruamel.yaml==0.11.14
requests==2.10.0
requests-toolbelt==0.7.0
simpleflock==0.0.3
jsonschema==2.5.1
idna==2.1
