# Deis controller requirements
Django==1.9.6
django-cors-headers==1.1.0
django-guardian==1.4.4
djangorestframework==3.3.3
docker-py==1.8.1
gunicorn==19.5.0
jsonfield==1.0.3
morph==0.1.2
ndg-httpsclient==0.4.0
psycopg2==2.6.1
pyOpenSSL==16.0.0
pytz==2016.4
PyYAML==3.11
requests==2.10.0
requests-toolbelt==0.6.2
simpleflock==0.0.3
retrying==1.3.3
